@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  font-family: "Mulish", sans-serif !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scroll-bar-cool111::-webkit-scrollbar {
  width: 5px !important;
  background-color: #f8f8f8 !important;
  border-radius: 12px !important;
}

.scroll-bar-cool111::-webkit-scrollbar-thumb {
  background-color: #0a0a18 !important;
  border-radius: 12px !important;
}

.dropped {
  box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.1);
}

.dropped1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropped2 {
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.1);
}

.chat-history-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.msg-prompt-wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
}

.msg-answer-wrapper {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.msg-prompt {
  /* background-color: rgba(47, 131, 228, 1); */
  background-color: #274156;
  border-radius: 5px;
  padding: 1rem;
  color: white;
  max-width: 60%;
}

.msg-answer {
  /* background-color: rgb(128 59 159); */
  background-color: #e55934;
  border-radius: 5px;
  margin-left: 0.75rem;
  padding: 1rem;
  color: white;
  max-width: 60%;
}

.chat-history-box {
  padding: 0 2rem;
  width: 100%;
  overflow-y: scroll;
}

.checkout-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.checkform-input {
  margin: 5px 2px;
  border-radius: 6px;
  height: 35px;
  box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
  z-index: 2;
  width: 100%;
}

.checkform-input:focus {
  box-shadow: 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
  z-index: 1;
  outline: none;
}
.checkout-form label {
  font-size: 12px;
  font-weight: bold;
}

.checkout-div {
  width: 100%;
  margin: 10px 0px;
}

.mmcvc {
  display: flex;
}

.pay-btn {
  background-color: #192552;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  color: white;
}

.InputContainer .InputElement {
  height: 40px !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.m-header,
.m-times span {
  font-size: 20px;
  font-weight: bold;
}

.m-body {
  margin: 20px 0px;
}
